---
import PageLayout from "../../layouts/PageLayout.astro";
import { largerCatechism } from "../../data/largerCatechism";
import CatechismCard from "../../components/CatechismCard.astro";
---

<PageLayout title="Westminster Larger Catechism">
  <div class="container">
    <div class="catechism-container flex items-start flex-wrap justify-center">
      {
        largerCatechism.map((question) => {
          return <CatechismCard question={question} />;
        })
      }
    </div>
  </div>
</PageLayout>

<style>
  .catechism-container {
    justify-content: center;
  }
</style>
