---
import PageLayout from "../../layouts/PageLayout.astro";
import { largerCatechism } from "../../data/largerCatechism";
import { CatechismList } from "../../components/react-components/CatechismList";
---

<PageLayout title="Westminster Larger Catechism">
  <div class="container">
    <CatechismList catechismData={largerCatechism} client:visible />
  </div>
</PageLayout>

<style>
  .catechism-container {
    justify-content: center;
  }
</style>
