---
import PageLayout from "../../layouts/PageLayout.astro";
import { shorterCatechism } from "../../data/shorterCatechism";
import CatechismCard from "../../components/CatechismCard.astro";
import { CatechismList } from "../../components/react-components/CatechismList";
---

<PageLayout title="Westminster Shorter Catechism">
  <div class="container">
    <CatechismList catechismData={shorterCatechism} client:visible />
  </div>
</PageLayout>

<style>
  .catechism-container {
    justify-content: center;
  }
</style>
