---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <!-- Introduction -->
  <div class="about-introduction">
    <div class="container">
      <div class="message-box">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad unde
          minus sint! Officiis blanditiis doloribus placeat quis error
          distinctio reiciendis ad ipsam omnis molestias numquam perferendis
          dolor ratione obcaecati dignissimos, repellat corporis odit
          praesentium! Magni voluptatum ratione, voluptatibus tenetur nesciunt
          doloremque culpa nihil repellendus.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad unde
          minus sint! Officiis blanditiis doloribus placeat quis error
          distinctio reiciendis ad ipsam omnis molestias numquam perferendis
          dolor ratione obcaecati dignissimos, repellat corporis odit
          praesentium! Magni voluptatum ratione, voluptatibus tenetur nesciunt
          doloremque culpa nihil repellendus.
        </p>
      </div>
    </div>
  </div>
  <!-- Our Worship -->
  <div class="about-our-worship">
    <div class="container">
      <div class="content-box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eligendi
          debitis modi repellendus ut delectus a minus illum perferendis magnam.
        </p>
        <button class="btn btn-husk">Plan a visit</button>
      </div>
      <div class="practice">
        <h3>Regulated Worship</h3>
        <div class="content-box">
          <div class="left">
            <img src="imgs/lvrp-pic-3.jpg" alt="" />
          </div>
          <div class="right">
            <div class="message-box">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="practice">
        <h3>Unacompained Psalm Singing</h3>
        <div class="content-box">
          <div class="left">
            <div class="message-box">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
            </div>
          </div>
          <div class="right">
            <img src="imgs/lvrp-pic-3.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="practice">
        <h3>Experiential Preaching</h3>
        <div class="content-box">
          <div class="left">
            <img src="imgs/lvrp-pic-3.jpg" alt="" />
          </div>
          <div class="right">
            <div class="message-box">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="practice">
        <h3>Communion Seasons</h3>
        <div class="content-box">
          <div class="left">
            <div class="message-box">
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
                unde minus sint! Officiis blanditiis doloribus placeat quis
                error distinctio reiciendis ad ipsam omnis molestias numquam
                perferendis dolor ratione obcaecati dignissimos, repellat
                corporis odit praesentium! Magni voluptatum ratione,
                voluptatibus tenetur nesciunt doloremque culpa nihil
                repellendus.
              </p>
            </div>
          </div>
          <div class="right">
            <img src="imgs/lvrp-pic-3.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Our Denomination -->
  <div class="about-denomination">
    <div class="container">
      <div class="content-box">
        <h4>Our Denomination</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam hic eum
          qui dicta explicabo similique!
        </p>
      </div>
      <div class="content-box">
        <div class="left">
          <img src="imgs/lvrp-pic-3.jpg" alt="" />
        </div>
        <div class="right">
          <div class="message-box">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
              unde minus sint! Officiis blanditiis doloribus placeat quis error
              distinctio reiciendis ad ipsam omnis molestias numquam perferendis
              dolor ratione obcaecati dignissimos, repellat corporis odit
              praesentium! Magni voluptatum ratione, voluptatibus tenetur
              nesciunt doloremque culpa nihil repellendus.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem ad
              unde minus sint! Officiis blanditiis doloribus placeat quis error
              distinctio reiciendis ad ipsam omnis molestias numquam perferendis
              dolor ratione obcaecati dignissimos, repellat corporis odit
              praesentium! Magni voluptatum ratione, voluptatibus tenetur
              nesciunt doloremque culpa nihil repellendus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</PageLayout>

<style>
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
