---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <div class="bio-blurb">
    <div class="container">
      <div class="blurb-container">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ut
          sequi atque veniam reiciendis quae maiores corporis quis, impedit
          tempora dolorem perspiciatis beatae autem, aliquam temporibus ad,
          facilis id eos alias accusamus sed rerum odit nesciunt. Earum
          reiciendis mollitia magnam exercitationem consequatur doloremque quo.
          Aut officia fuga porro cupiditate itaque.
        </p>
      </div>
    </div>
  </div>
  <div class="about-section our-worship border border-red-600">
    <h2>Our Worship</h2>
    <div class="container"></div>
  </div>
  <div class="about-section our-government border border-green-500">
    <h2>Our Church Government</h2>
    <div class="container"></div>
  </div>
</PageLayout>

<style>
  .blurb-container {
    width: 65%;
    margin: 0 auto;
  }

  .about-section h2 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
