---
import LeftImageRightText from "../components/LeftImageRightText.astro";
import RightImageLeftText from "../components/RightImageLeftText.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <section id="our-worship">
    <div class="container intro-box">
      <h2>About Us</h2>
      <div class="content">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          repudiandae eos aliquam ratione voluptatum, neque qui, sunt accusamus
          ipsam similique aspernatur at cumque sit molestiae ullam blanditiis
          ipsa, fugiat modi. Iusto cumque repellendus, et doloribus fugit velit
          mollitia quae veniam id harum possimus, excepturi nesciunt.
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          repudiandae eos aliquam ratione voluptatum, neque qui, sunt accusamus
          ipsam similique aspernatur at cumque sit molestiae ullam blanditiis
          ipsa, fugiat modi. Iusto cumque repellendus, et doloribus fugit velit
          mollitia quae veniam id harum possimus, excepturi nesciunt.
        </p>
      </div>
    </div>
    <div class="line-bar"></div>
    <LeftImageRightText
      title="Presbyterian"
      image="/images/about/presbyterian.webp"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
    </LeftImageRightText>
    <div class="line-bar"></div>
    <RightImageLeftText title="Covenanter" image="/images/about/covenanter.jpg">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
    </RightImageLeftText>
    <div class="line-bar"></div>
    <LeftImageRightText
      title="Expierential Preaching"
      image="/images/about/preaching.jpg"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
    </LeftImageRightText>
    <div class="line-bar"></div>
    <RightImageLeftText
      title="Exclusive Psalmody"
      image="/images/about/psalmsmetre.jpg"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
    </RightImageLeftText>
    <div class="line-bar"></div>
    <LeftImageRightText
      title="Acapella Singing"
      image="/images/about/singing.jpg"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
    </LeftImageRightText>
    <div class="line-bar"></div>
    <RightImageLeftText
      title="Communion Seasons"
      image="/images/about/communion.jpg"
    >
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sequi,
        quasi iste aperiam enim quam, sed optio velit distinctio repellendus
        molestiae architecto sunt magnam, tempore debitis nihil nam asperiores
        cumque dolores voluptatum? Minima explicabo id, esse modi ducimus quasi
        hic!
      </p>
    </RightImageLeftText>
  </section>
</PageLayout>

<style>
  #our-worship {
    margin-bottom: 5rem;
  }
  #our-worship h2 {
    font-size: 2.5rem;
    margin: 2rem auto 2rem auto;
    text-align: center;
  }
  .intro-box .content {
    width: 75%;
    margin: 0 auto;
  }
  .content p {
    line-height: 1.7;
    margin: 1rem 0;
  }
  @media only screen and (max-width: 768px) {
    .intro-box .content {
      width: 100%;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
