---
import LinkCard from "../components/LinkCard.astro";
import PageLayout from "../layouts/PageLayout.astro";

const standards = [
  {
    title: "Reformed Presbyterian Testiomony",
    link: "/beliefs/testimony",
    image: "/images/beliefs/testimony.jpg",
  },
  {
    title: "Westminster Confession",
    link: "/beliefs/westminster-confession",
    image: "/images/beliefs/westminster1.jpg",
  },
  {
    title: "Westminster Shorter Catechism",
    link: "/beliefs/shorter-catechism",
    image: "/images/beliefs/westminster2.jpg",
  },
  {
    title: "Westminster Larger Catechism",
    link: "/beliefs/larger-catechism",
    image: "/images/beliefs/westminster3.jpg",
  },
];
const creeds = [
  {
    title: "Apostles Creed",
    link: "/beliefs/apostles-creed",
    image: "/images/beliefs/apostles.jpg",
  },
  {
    title: "Nicene Creed",
    link: "/beliefs/nicene-creed",
    image: "/images/beliefs/nicaea.jpg",
  },
  {
    title: "Chalcedonian Definition",
    link: "/beliefs/chalcedon",
    image: "/images/beliefs/chalcedon.jpg",
  },
  {
    title: "Athanasian Creed",
    link: "/beliefs/athanasian-creed",
    image: "/images/beliefs/athanasius.jpg",
  },
];
---

<PageLayout title="Beliefs">
  <div class="beliefs-section confessional-standards">
    <div class="container">
      <h2 class="text-4xl font-bold text-center mb-20 text-gray-800">
        Confessional Standards
      </h2>

      <div class="belief-list">
        {
          standards.map((standard) => {
            return <LinkCard data={{ ...standard, height: "250px" }} />;
          })
        }
      </div>
    </div>
  </div>
  <div class="line-bar"></div>
  <div class="beliefs-section creeds mb-16">
    <div class="container">
      <h2 class="text-4xl font-bold text-center mb-20 text-gray-800">
        Ecumenical Creeds
      </h2>
      <div class="belief-list">
        {
          creeds.map((standard) => {
            return <LinkCard data={{ ...standard, height: "250px" }} />;
          })
        }
      </div>
    </div>
  </div>
</PageLayout>

<style>
  .belief-list {
    gap: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @media only screen and (max-width: 768px) {
    .belief-list {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
