---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Contact">
  <h1>Contact</h1>
</PageLayout>

<style>
  @media only screen and (max-width: 768px) {
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
