---
import HeroHeader from "../components/HeroHeader.astro";
import SiteLayout from "../layouts/SiteLayout.astro";
import SermonItem from "../components/SermonItem.astro";
import LocationAndTimes from "../components/LocationAndTimes.astro";

const url =
  "https://api.sermonaudio.com/v2/node/sermons?featured=false&requireAudio=true&requireVideo=false&requirePDF=false&includeDrafts=false&includeScheduled=false&includePublished=true&staffPick=false&listenerRecommended=false&page=1&lite=true&liteBroadcaster=true&cache=false&pageSize=3&broadcasterID=lasvegasrpc";
const headers = {
  "Content-Type": "application/json",
  "X-Api-Key": "a1afcaf3-7d27-4ad2-af45-7e29a8db75d9",
};
const response = await fetch(url, {
  method: "GET",
  headers,
});
const data = await response.json();
const sermons = data.results.slice(0, 3);
---

<SiteLayout title="Home" description="">
  <HeroHeader />
  <!-- Welcome Section -->
  <div id="welcome" class="bg-husk">
    <div class="container">
      <h4>A Short Welcome From Our Pastor</h4>
      <iframe
        src="https://www.youtube.com/embed/9wRA-lnZvRo?si=TOtaNVdcyMj-zePd"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div>
  <LocationAndTimes />
  <!-- Beliefs & Distinctives -->
  <section id="beliefs" class="bg-light-gray">
    <div class="container">
      <h2>Our Beliefs</h2>
      <div class="list">
        <div class="info-card card1">
          <div class="top">
            <div class="overlay">Our Doctrine</div>
          </div>
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              assumenda fuga temporibus velit! Voluptate iste aperiam odit
              maxime non? Explicabo.
            </p>
            <a href="#" class="btn btn-husk">Learn More</a>
          </div>
        </div>
        <div class="info-card card2">
          <div class="top"><div class="overlay">Our Worship</div></div>
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              assumenda fuga temporibus velit! Voluptate iste aperiam odit
              maxime non? Explicabo.
            </p>
            <a href="#" class="btn btn-husk">Learn More</a>
          </div>
        </div>
        <div class="info-card card3">
          <div class="top"><div class="overlay">Our Denomination</div></div>
          <div class="body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
              assumenda fuga temporibus velit! Voluptate iste aperiam odit
              maxime non? Explicabo.
            </p>
            <a href="#" class="btn btn-husk">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Communion Season -->
  <section id="communion-section">
    <div class="overlay">
      <div class="container">
        <h2>2024 Communion Season Schedule</h2>
        <p class="communion-summary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
          voluptate! Autem, error officiis ipsam expedita libero unde
          dignissimos saepe quaerat nisi facilis eligendi quidem consequatur
          pariatur a omnis ipsum excepturi!
        </p>
        <a href="#" class="btn btn-sycamore">Learn More</a>
        <div class="date-list">
          <div class="date">
            <div class="qtr-box">
              <span>Quarter 1</span>
            </div>
            <h3>Feburary</h3>
            <p>17th - 18th</p>
          </div>
          <div class="date">
            <div class="qtr-box">
              <span>Quarter 2</span>
            </div>
            <h3>May</h3>
            <p>18th - 19th</p>
          </div>
          <div class="date">
            <div class="qtr-box">
              <span>Quarter 3</span>
            </div>
            <h3>August</h3>
            <p>10th - 11th</p>
          </div>
          <div class="date">
            <div class="qtr-box">
              <span>Quarter 4</span>
            </div>
            <h3>November</h3>
            <p>16th - 17th</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Media Section -->
  <section id="media-section">
    <div class="container">
      <h2>Latest Sermons</h2>
      <div class="sermon-list">
        {sermons.map((sermon) => <SermonItem sermon={sermon} />)}
      </div>
    </div>
  </section>
  <!-- Contact Form -->
  <section id="contact-section">
    <div class="overlay">
      <div class="container">
        <h2>Have a question or need prayer?</h2>
        <a href="#" class="btn btn-sycamore">Contact Us</a>
      </div>
    </div>
  </section>
</SiteLayout>

<style>
  #welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #welcome .container h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
  }
  #welcome .container p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: white;
  }
  #welcome .container iframe {
    width: 560px;
    height: 315px;
  }
  #welcome .container .button {
    margin: 2rem 0;
  }
  #beliefs .container {
    padding-top: 1rem;
  }

  #beliefs .container h2 {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 4rem;
  }
  #beliefs .container .list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #beliefs .container .list .info-card {
    margin: 0 0.5rem;
    border-radius: 10px;
    max-width: 400px;
    overflow: hidden;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08); /* Subtle, layered shadows */
    transition: transform 0.5s ease-in-out;
  }
  #beliefs .container .list .info-card:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  #beliefs .container .list .card1 .top {
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Westminster_Standards.jpg/440px-Westminster_Standards.jpg")
      no-repeat top center / cover;
  }
  #beliefs .container .list .card2 .top {
    background: url("https://cdn.rpglobalalliance.org/live/wp-content/uploads/2021/04/22173831/christ-church-singing-moscow-2016.jpg")
      no-repeat center center / cover;
  }
  #beliefs .container .list .card3 .top {
    background: url("https://images.squarespace-cdn.com/content/v1/602c54d14a33671e38d40c9e/1633427810289-Y8EW0YXD2P5BYVR2W5MV/Screenshot+2021-10-05+105633.png?format=2500w")
      no-repeat center center / cover;
  }
  #beliefs .container .list .card4 .top {
    background: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center center / cover;
  }
  #beliefs .container .list .info-card .top .overlay {
    width: 100%;
    padding: 6rem 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(21, 43, 67, 0.75);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }
  #beliefs .container .list .info-card .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 1rem;
  }
  #beliefs .container .list .info-card .body p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  #beliefs .container .list .info-card .body a {
    margin: 1rem auto;
  }
  #communion-section {
    background: url("/images/lvrp-pic-2.jpg") no-repeat center center / cover;
  }

  #communion-section .overlay {
    background: rgb(26, 62, 106);
    background: linear-gradient(
      161deg,
      rgba(26, 62, 106, 0.85) 30%,
      rgba(0, 0, 0, 0.85) 64%
    );
    width: 100%;
    height: 100%;
  }

  #communion-section .overlay .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #communion-section .overlay .container h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  #communion-section .overlay .container .communion-summary {
    width: 55%;
    margin-bottom: 1rem;
    color: lightgray;
    line-height: 1.75;
    font-size: 1.05rem;
  }
  #communion-section .overlay .container a {
    margin-bottom: 3rem;
  }

  #communion-section .overlay .container .date-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #communion-section .overlay .container .date-list .date {
    width: 150px;
    border: white 1px solid;
    padding: 1rem;
    margin: 1rem;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    background: rgba(26, 62, 106, 0.5);
  }
  #communion-section .overlay .container .date-list .date:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  #communion-section .overlay .container .date-list .date .qtr-box {
    padding: 0.25rem 1rem;
    background: var(--sycamore);
    border: 1px solid white;
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: 1rem;
  }

  #communion-section .overlay .container .date-list .date h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  #communion-section .overlay .container .date-list .date p {
    font-size: 1.25rem;
  }

  #media-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  #media-section .container .sermon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #contact-section {
    background: url("https://images.unsplash.com/photo-1497621122273-f5cfb6065c56?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center center / cover;
  }

  #contact-section .overlay {
    background: rgb(26, 62, 106);
    background: linear-gradient(
      161deg,
      rgba(26, 62, 106, 0.85) 30%,
      rgba(0, 0, 0, 0.85) 64%
    );
    width: 100%;
    height: 100%;
    padding: 5rem 0;
  }

  #contact-section .overlay .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-section .overlay .container h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    #welcome .container iframe {
      width: 100%;
      height: 350px;
    }

    #beliefs .container .list {
      flex-direction: column;
    }

    #beliefs .container .list .info-card {
      margin: 1rem 0;
      max-width: 95%;
    }

    #communion-section .overlay .container {
      padding: 2rem 1rem;
    }

    #communion-section .overlay .container .communion-summary {
      width: 90%;
    }

    #communion-section .overlay .container .date-list {
      flex-direction: column;
      width: 100%;
    }

    #communion-section .overlay .container .date-list .date {
      width: 65%;
      margin: 1.5rem 0;
      padding: 2rem 1rem;
    }

    #communion-section .overlay .container .date-list .date .qtr-box {
      padding: 0.25rem 0.5rem;
      width: 50%;
      margin: -50px auto 1rem auto;
    }

    #media-section .container {
      padding: 2rem 1rem;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
