---
import LinkCard from "../components/LinkCard.astro";
import PageLayout from "../layouts/PageLayout.astro";

const sermonSeries = [
  {
    title: "Series 1",
  },
  {
    title: "Series 2",
  },
  {
    title: "Series 3",
  },
];
const bibleStudies = [
  {
    title: "Bible Study 1",
  },
  {
    title: "Bible Study 2",
  },
  {
    title: "Bible Study 3",
  },
];
---

<PageLayout title="Sermons">
  <div class="sermons-section recent-sermon-series border border-green-400">
    <h2>Recent Sermon Series</h2>
    <div class="container">
      <div class="sermon-list">
        {
          sermonSeries.map((sermon) => {
            return <LinkCard data={sermon} />;
          })
        }
      </div>
    </div>
  </div>
  <div class="sermons-section recent-bible-studies border border-green-400">
    <h2>Recent Bible Studies</h2>
    <div class="container">
      <div class="sermon-list">
        {
          bibleStudies.map((study) => {
            return <LinkCard data={study} />;
          })
        }
      </div>
    </div>
  </div>
</PageLayout>

<style>
  .sermons-section h2 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .sermon-list {
    gap: 25px;
    display: flex;
  }
  @media only screen and (max-width: 768px) {
    .sermon-list {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
