---
import LinkCard from "../components/LinkCard.astro";
import { bibleStudies, sermonSeries } from "../data/siteData";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Sermons">
  <div class="sermons-section recent-sermon-series">
    <h2>Sermon Series</h2>
    <div class="container">
      <div class="sermon-list">
        {
          sermonSeries.map((sermon) => {
            return <LinkCard data={{ ...sermon, height: "250px" }} />;
          })
        }
      </div>
    </div>
  </div>
  <div class="line-bar"></div>
  <div class="sermons-section recent-bible-studies">
    <h2>Bible Studies</h2>
    <div class="container">
      <div class="sermon-list">
        {
          bibleStudies.map((study) => {
            return <LinkCard data={{ ...study, height: "250px" }} />;
          })
        }
      </div>
    </div>
  </div>
</PageLayout>

<style>
  .sermons-section h2 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .sermon-list {
    gap: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 768px) {
    .sermon-list {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
