---
import LinkCard from "../components/LinkCard.astro";
import PageLayout from "../layouts/PageLayout.astro";

const sermonSeries = [
  {
    title: "The Gospel of Luke",
    id: "152601",
    link: `/sermons/152601`,
    image: "/images/sermons/gospelofluke.jpg",
  },
  {
    title: "Leviticus",
    id: "192111",
    link: `/sermons/192111`,
    image: "/images/sermons/leviticus.jpg",
  },
  {
    title: "Regulative Principle of Worship",
    id: "172011",
    link: `/sermons/172011`,
    image: "/images/sermons/worship.jpg",
  },
];
const bibleStudies = [
  {
    title: "Doctrine of Civil Government",
    id: "196782",
    link: `/sermons/196782`,
    image: "/images/sermons/government.jpg",
  },
  {
    title: "The Doctrine of God",
    id: "189405",
    link: `/sermons/189405`,
    image: "/images/sermons/doctrineofGod.jpg",
  },
  {
    title: "Headcoverings",
    id: "187243",
    link: `/sermons/187243`,
    image: "/images/sermons/headcover.png",
  },
];
---

<PageLayout title="Sermons">
  <div class="sermons-section recent-sermon-series">
    <h2>Sermon Series</h2>
    <div class="container">
      <div class="sermon-list">
        {
          sermonSeries.map((sermon) => {
            return <LinkCard data={sermon} />;
          })
        }
      </div>
    </div>
  </div>
  <div class="line-bar"></div>
  <div class="sermons-section recent-bible-studies">
    <h2>Bible Studies</h2>
    <div class="container">
      <div class="sermon-list">
        {
          bibleStudies.map((study) => {
            return <LinkCard data={study} />;
          })
        }
      </div>
    </div>
  </div>
</PageLayout>

<style>
  .sermons-section h2 {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .sermon-list {
    gap: 25px;
    display: flex;
  }
  @media only screen and (max-width: 768px) {
    .sermon-list {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
