---

---

<!-- Contact Form -->
<section id="contact-section">
  <div class="overlay">
    <div class="container">
      <h2>Have a question or need prayer?</h2>
      <a href="/contact" class="btn btn-sycamore">Contact Us</a>
    </div>
  </div>
</section>

<style>
  #contact-section {
    background: url("/images/openbible.jpg") no-repeat center center / cover;
  }

  #contact-section .overlay {
    background: rgb(26, 62, 106);
    background: linear-gradient(
      161deg,
      rgba(26, 62, 106, 0.85) 30%,
      rgba(0, 0, 0, 0.85) 64%
    );
    width: 100%;
    height: 100%;
    padding: 5rem 0;
  }

  #contact-section .overlay .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contact-section .overlay .container h2 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  @media only screen and (max-width: 768px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
