---
import { MobileMenu } from "./react-components/MobileMenu/MobileMenu.jsx";

interface Props {
  transparent?: boolean;
  sticky?: boolean;
}

const { transparent = false, sticky = true } = Astro.props;
---

<header
  class={`nav-menu-scroll ${sticky ? "sticky top-0" : ""} ${transparent ? "opacity-background" : ""}`}
>
  <div class="logo">
    <a href="/">
      <img
        id="logo-image"
        class={`${transparent ? "bigger-image" : ""}`}
        src="/images/lvrp-logo.png"
        alt=""
      /></a
    >
  </div>
  <div class="menu-items">
    <ul id="nav-list" class={`${transparent ? "bigger-font" : ""}`}>
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/beliefs.html">Beliefs</a></li>
      <li><a href="/leadership.html">Leadership</a></li>
      <li><a href="/sermons.html">Sermons</a></li>
      <li><a href="/contact.html">Contact</a></li>
      <li>Give</li>
    </ul>
  </div>
  <MobileMenu client:visible />
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var scrollNav = document.querySelector(".nav-menu-scroll");
    var headerLogo = document.querySelector("#logo-image");
    var navList = document.querySelector("#nav-list");
    var headerHeight = scrollNav.scrollHeight;

    window.addEventListener("scroll", function () {
      if (window.scrollY > headerHeight) {
        scrollNav.classList.remove("opacity-background");
        headerLogo.classList.remove("bigger-image");
        navList.classList.remove("bigger-font");
      } else {
        scrollNav.classList.add("opacity-background");
        headerLogo.classList.add("bigger-image");
        navList.classList.add("bigger-font");
      }
    });
  });
</script>

<style>
  /* Nav-Menu Scroll */
  .nav-menu-scroll {
    background: rgba(43, 43, 43, 0.98);
    padding: 0.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    transition: all 0.7s ease-in-out;
  }

  .nav-menu-scroll img {
    width: 175px;
  }

  .nav-menu-scroll .menu-items ul {
    list-style: none;
    display: flex;
    font-size: 1.15rem;
  }
  .nav-menu-scroll .menu-items li {
    margin: 0 1rem;
    color: white;
    transition: color 0.5s ease-in-out;
  }
  .nav-menu-scroll .menu-items li:hover {
    cursor: pointer;
    color: var(--husk);
  }

  .hide-menu {
    opacity: 0;
    position: fixed;
  }

  @media only screen and (max-width: 768px) {
    .nav-menu-scroll img {
      width: 215px !important;
    }
    .nav-menu-scroll {
      padding: 1rem 2rem !important;
      flex-wrap: no-wrap;
    }
    .nav-menu-scroll .menu-items {
      display: none;
    }
  }
  @media only screen and (max-width: 992px) {
    .nav-menu-scroll .menu-items ul {
      flex-wrap: wrap;
    }
  }
  @media only screen and (max-width: 1200px) {
    .nav-menu-scroll {
      flex-wrap: wrap;
    }

    .nav-menu-scroll {
      padding-bottom: 2rem;
    }
  }
</style>
