---

---

<!-- Welcome Section -->
<div id="welcome" class="bg-husk">
  <div class="container">
    <h4>A Short Welcome From Our Pastor</h4>
    <iframe
      src="https://www.youtube.com/embed/9wRA-lnZvRo?si=TOtaNVdcyMj-zePd"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</div>

<style>
  #welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #welcome .container h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
  }
  #welcome .container p {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: white;
  }
  #welcome .container iframe {
    width: 560px;
    height: 315px;
  }
  #welcome .container .button {
    margin: 2rem 0;
  }

  @media only screen and (max-width: 768px) {
    #welcome .container iframe {
      width: 100%;
      height: 350px;
    }
  }
  @media only screen and (max-width: 992px) {
  }
  @media only screen and (max-width: 1200px) {
  }
</style>
